.container {
    text-align: center;
    
    
}

button{
    background: #069;
    color: white;
    font-size: 30px;
    padding: 10px 40px;
    cursor: pointer;
    border: 200;
    border-color: black;
}

